config/node-red/flows.json
[{"id":"8a90d525.89a3a8","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"c15f7559.58e3a8","type":"server","name":"Home Assistant","addon":true},{"id":"6c606254.afbd4c","type":"server-state-changed","z":"8a90d525.89a3a8","name":"Control Center","server":"c15f7559.58e3a8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.controlcenter_niveau_de_batterie","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"30","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":140,"wires":[["2da0d88f.77b558"],[]]},{"id":"2da0d88f.77b558","type":"delay","z":"8a90d525.89a3a8","name":"Limite message","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":380,"y":140,"wires":[["c133d837.c9b5b8"]]},{"id":"c133d837.c9b5b8","type":"api-call-service","z":"8a90d525.89a3a8","name":"Notif. Batterie faible Control Center","server":"c15f7559.58e3a8","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_sm_a530f_sg","entityId":"","data":"{\"message\": \"Batterie faible sur Control Center !\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":140,"wires":[[]]},{"id":"e3f61332.94661","type":"comment","z":"8a90d525.89a3a8","name":"Suivi des batteries ____________________________________________________________________________","info":"","x":440,"y":80,"wires":[]}]